 
<div class="jumbotron text-center" style="magin-bottom: 0;">
  <h1 class="display-3">Thank You!</h1>
  <p class="lead"><strong>Please check your email</strong> for further details.</p>
  <hr>
  <p>
    To Download <a href="/download-invoice" target="_blank">Invoice</a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="/" role="button">Continue to Home</a>
  </p>
</div>