<section  style="background-color: #508bfc;">
  <div class="container py-5 ">
    <div class="row d-flex justify-content-center align-items-center">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign Up</h3>
           <form id="userLogin" action="/signup"  method="post">
                <div class="form-group">
                    <label for="user">
                        Name:
                    </label>
                    <input type="text" name="name" id="usernames" minlength="6" class="form-control" required>
                </div>
                 
                <div class="form-group">
                    <label for="user">
                        Email:
                    </label>
                    <input type="email" name="email" id="email"  required class="form-control">
                    
                </div>

                 <div class="form-group">
                    <label for="user">
                        Phone Number:
                    </label>
                    <input type="text" name="phoneNumber" id="hotelName" class="form-control">
                    
                </div>
 
                <div class="form-group">
                    <label for="password">
                        Password:
                    </label>
                    <input type="password" name="password" minlength="6" required id="password" class="form-control">
                   
                </div>
 
                <input type="submit" id="submitbtn" value="Submit" class="btn btn-primary">
            </form>
            <hr class="my-4">

          
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>

 <script src="https://ajax.googleapis.com/ajax/libs/
    jquery/3.3.1/jquery.min.js">
    </script>
   
 <script>
   $("#userLogin").validate();
</script>

